recursosWeb/subSitiosEntretenimiento/respuestasForms/datosXML/lasMejoresPeliculas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Lista">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Pelicula" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="NombreDeLaPelicula" type="xs:string" />
                     <xs:element name="FechaDeEstreno" type="xs:string" />
                     <xs:element name="Calificacion" type="xs:string" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>